/* 
=== LAPTOP SCREENS
 */

@media only screen and (max-width: 1400px) {
  .heroSection {
    min-height: calc(100vh - 0rem); 
  }
  .aboutContent {
    width: 100%;
  }
}

/* 
=== LARGE TABLAT SCREENS
 */

@media (max-width: 992px) {
  /* header section */

  .headerSection {
    padding: 0.5rem 0;
  }

  .headerSection .navbar {
    text-align: center;
  }

  .headerSection .navbar .navAction {
    gap: 1rem;
    flex-direction: column;
  }

  .headerSection .navbar .nav-link {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .socialSection .socialRow .media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .aboutSection .aboutImage {
    margin-bottom: 3rem;
  }

  .lightingSection {
    margin-block: 4rem;
    padding: 0 1rem;
  }

  .footerSection .footerImage {
    top: auto;
    bottom: -10%;
  }

  .footerSection::after {
    display: none;
  }
}

/* 
=== TABLAT SCREENS
 */

@media (max-width: 768px) {
}

/* 
=== MOBILE SCREENS
 */

@media (max-width: 576px) {
}
